html,
body {
    height: 100%;
    margin: 0;
    font-family: monospace;
}

.intro {
    display: flex;
    background-image: url(../media/Background-Bball.jpg);
    background-size: contain;
    min-height: 750px;
    padding-bottom: 18vw;
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 80% 20%;
}

* {
    box-sizing: border-box;
}

.headerwrapper {
    background: url(../media/Background-Bball.jpg);
    background-size: cover;

}

@media screen and (max-width: 700px) {



    .collumn1 {
        flex: 100%;
        padding: 20px;
    }

    .collumn2 {
        flex: 100%;
        padding: 20px;

    }

    .collumn3 {
        flex: 100%;
        padding: 20px;

    }

}

.bio {
    display: flex;
    margin-left: 1rem;
    font-size: 1rem;
    justify-content: space-between;
    width: 100vw;

}

.essaytexte {
    display: flex;
    justify-content: flex-start;
    min-width: 75%;
    align-items: left;
    background-color: whitesmoke;
}

.collumn1 {
    flex: 33%;
    margin: 20px;
}

.collumn2 {
    flex: 33%;
    margin: 20px;

}

.collumn3 {
    flex: 33%;
    margin: 20px;

}

.weather {



    white-space: nowrap;


}

.bio p {
    padding-right: 5em;

}


.window {
    width: 15%;
    position: absolute;
    left: 60%;
    top: 40%;
    z-index: 100;
    border-style: solid;
    border-color: gainsboro;
    box-shadow: 1px 1px 0px 0px rgb(63, 62, 62);

}

button {
    cursor: pointer;

}

.toolbar {

    display: flex;
    width: 100%;
    background: rgb(51, 79, 165);
    background: linear-gradient(90deg, rgba(51, 79, 165, 1) 0%, rgba(66, 109, 182, 1) 50%, rgba(74, 126, 191, 1) 100%);
    color: whitesmoke;
    padding: 5px;
    justify-content: space-between;

}

#img1 {
    background-color: blue;
    width: 100%;
    margin-bottom: -4px;
}

.toolbutton {

    border-radius: 0;
    width: 1.5em;
    height: 1.5em;

}

.minimize {
    background-image: url(./../media/minimize.png);
    background-size: cover;
    background-position: center;
}

.maximize {
    background-image: url(./../media/maximize.png);
    background-size: cover;
    background-position: center;
}

.close {
    background-image: url(./../media/close.png);
    background-size: cover;
    background-position: center;
}

.buttonbar {
    display: flex;
    flex-direction: row-reverse;
}

#spinning-logo {

    width: 100%;
    mix-blend-mode: multiply;
}

.container {
    background-color: blanchedalmond;
    display: flex;



}

.info {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
}

.infotext {

    margin-bottom: 15em;

}

.headline {
    font-size: 4rem;
    margin-top: 1em;
    margin-right: 0em;
}

.unterüberschrift {
    font-size: 2rem;

}

.imgcontainer {
    background-color: royalblue;
    width: 50vw;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: proximity;

}

#productimage {
    width: 95%;

}

.buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
}

.buttoncontainer button {
    height: 5rem;


}


#left,
#right {
    width: 5%;
    border: none;
    background-color: rgb(0, 0, 0, 0);

}

#buttonbutton {

    display: none;
}

.collumn1 h3 {

    margin-top: 0%;
    font-size: 2.5rem;
    margin-bottom: 0em;
    font-weight: lighter;
}


.collumn1,
p {

    margin-top: 1%;
    padding-top: 0em;

}

.collumn2,
p {

    padding-top: 3%;
}

.collumn3,
p {

    padding-top: 3%;
}




@media only screen and (max-width: 700px) {
    .bio p {
        font-size: 2rem;
    }

    .essaytexte {
        flex-direction: column;
        font-size: 1.5rem;
    }

    .window {
        position: static;
        width: 100% !important;
        z-index: 100;
        border-style: solid;
        border-color: gainsboro;
        box-shadow: 1px 1px 0px 0px rgb(63, 62, 62);
    }

    .container {
        flex-direction: column;

    }

    .info {
        width: 100%;
    }

    .imgcontainer {
        width: 100%;
    }

    .buttoncontainer {
        display: none;

    }

    #buttonbutton {
        display: flex;

    }

    .bio {
        flex-direction: column;

    }

    #uhrzeit p {
        font-size: 6vw;
        font-weight: 500;

    }
}